[submodule "modules/Ashare"]
	path = modules/Ashare
	url = git@github.com:afirez/Ashare.git
[submodule "modules/qteasy"]
	path = modules/qteasy
	url = git@github.com:afirez/qteasy.git
[submodule "modules/quant_from_scratch"]
	path = modules/quant_from_scratch
	url = https://gitee.com/afirez/quant_from_scratch.git
