[submodule "modules/Ashare"]
	path = modules/Ashare
	url = git@github.com:afirez/Ashare.git
[submodule "modules/qteasy"]
	path = modules/qteasy
	url = git@github.com:afirez/qteasy.git
[submodule "modules/quant_from_scratch"]
	path = modules/quant_from_scratch
	url = https://gitee.com/afirez/quant_from_scratch.git
[submodule "modules/qlib"]
	path = modules/qlib
	url = https://github.com/microsoft/qlib.git
[submodule "modules/qlib_tutorial"]
	path = modules/qlib_tutorial
	url = git@github.com:afirez/qlib_tutorial.git
[submodule "modules/backtrader_tutorial"]
	path = modules/backtrader_tutorial
	url = git@github.com:afirez/backtrader.git
[submodule "modules/backtrader_lib"]
	path = modules/backtrader_lib
	url = https://github.com/mementum/backtrader.git
[submodule "modules/akshare"]
	path = modules/akshare
	url = git@github.com:afirez/akshare.git
[submodule "modules/Machine-Learning-Trader"]
	path = modules/Machine-Learning-Trader
	url = https://github.com/tyedem/Machine-Learning-Trader.git
[submodule "modules/Books-Recommendation-System"]
	path = modules/Books-Recommendation-System
	url = https://github.com/tyedem/Books-Recommendation-System.git
[submodule "modules/Machine-Learning-for-Algorithmic-Trading-Bots-with-Python"]
	path = modules/Machine-Learning-for-Algorithmic-Trading-Bots-with-Python
	url = git@github.com:afirez/Machine-Learning-for-Algorithmic-Trading-Bots-with-Python.git
[submodule "modules/Machine-Learning-for-Algorithmic-Trading-Second-Edition_Original"]
	path = modules/Machine-Learning-for-Algorithmic-Trading-Second-Edition_Original
	url = git@github.com:afirez/Machine-Learning-for-Algorithmic-Trading-Second-Edition_Original.git
[submodule "modules/Hands-On-Machine-Learning-for-Algorithmic-Trading"]
	path = modules/Hands-On-Machine-Learning-for-Algorithmic-Trading
	url = git@github.com:afirez/Hands-On-Machine-Learning-for-Algorithmic-Trading.git
[submodule "modules/Book-Mathmatical-Foundation-of-Reinforcement-Learning"]
	path = modules/Book-Mathmatical-Foundation-of-Reinforcement-Learning
	url = git@github.com:afirez/Book-Mathmatical-Foundation-of-Reinforcement-Learning.git
[submodule "modules/Machine-Learning-for-Finance"]
	path = modules/Machine-Learning-for-Finance
	url = git@github.com:afirez/Machine-Learning-for-Finance.git
[submodule "modules/easytrader"]
	path = modules/easytrader
	url = git@github.com:afirez/easytrader.git
[submodule "modules/easyquotation"]
	path = modules/easyquotation
	url = git@github.com:afirez/easyquotation.git
[submodule "modules/stock"]
	path = modules/stock
	url = git@github.com:afirez/stock.git
[submodule "modules/easyquant"]
	path = modules/easyquant
	url = git@github.com:afirez/easyquant.git
[submodule "modules/Hands-On-Deep-Learning-for-Finance"]
	path = modules/Hands-On-Deep-Learning-for-Finance
	url = git@github.com:afirez/Hands-On-Deep-Learning-for-Finance.git
[submodule "modules/Deep-Reinforcement-Learning-Book"]
	path = modules/Deep-Reinforcement-Learning-Book
	url = git@github.com:afirez/Deep-Reinforcement-Learning-Book.git
[submodule "modules/Math-for-Programmers"]
	path = modules/Math-for-Programmers
	url = git@github.com:afirez/Math-for-Programmers.git
[submodule "modules/DRLPytorch"]
	path = modules/DRLPytorch
	url = git@github.com:afirez/DRLPytorch.git
[submodule "modules/Applied-Deep-Learning-and-Computer-Vision-for-Self-Driving-Cars"]
	path = modules/Applied-Deep-Learning-and-Computer-Vision-for-Self-Driving-Cars
	url = git@github.com:afirez/Applied-Deep-Learning-and-Computer-Vision-for-Self-Driving-Cars.git
[submodule "modules/FinRL"]
	path = modules/FinRL
	url = https://github.com/AI4Finance-Foundation/FinRL.git
[submodule "modules/aiif"]
	path = modules/aiif
	url = git@github.com:afirez/aiif.git
[submodule "modules/rlfinance"]
	path = modules/rlfinance
	url = https://github.com/yhilpisch/rlfinance.git
[submodule "modules/py4at"]
	path = modules/py4at
	url = https://github.com/yhilpisch/py4at.git
[submodule "modules/btgym"]
	path = modules/btgym
	url = https://github.com/Kismuz/btgym.git
[submodule "devops/k8s/sip/docker-opensips"]
	path = devops/k8s/sip/docker-opensips
	url = https://github.com/OpenSIPS/docker-opensips.git
[submodule "modules/Backtrader-RL"]
	path = modules/Backtrader-RL
	url = git@github.com:afirez/Backtrader-RL.git
[submodule "modules/reinforcement-learning"]
	path = modules/reinforcement-learning
	url = git@github.com:afirez/reinforcement-learning.git
