numpy==1.22.1
pandas==1.5.2
matplotlib==3.2.2 # 3.6.2
mplfinance==0.12.9b7
scipy==1.9.3
scikit-learn==1.2.0
tensorflow==2.11.0
joblib==1.2.0
jupyter==1.0.0
beautifulsoup4==4.11.1
backtrader>=1.9.76.123
gym>=0.26.2

